blockquote {
	padding: 6px 16px;
	border: none;
	quotes: "\201C" "\201D";
    display: inline-block;
}

blockquote p:before { 
    content: open-quote;
    font-weight: bold;
} 
blockquote p:after { 
    content: close-quote;
    font-weight: bold;
}